@use '@coreui/coreui/scss/coreui' as * with (
  $enable-deprecation-messages: false
);
@use '@coreui/chartjs/scss/coreui-chartjs';
@use 'vendors/simplebar';

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding 0.15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

//Khusus CSS Custom
.cust-add-product {
  margin-bottom: 10px;
}

/* Pastikan semua cell punya tinggi minimal yang sama */
.cust-product-row td {
  vertical-align: middle;
  padding: 0.5rem;
  height: 60px; /* tinggi tetap */
  min-height: 60px;
}

/* Atur react-select supaya height seragam */
.cust-product-row .react-select__control {
  min-height: 38px !important;
  height: 38px !important;
}

.sidebar-thumbnail {
  border: 0px solid rgba(255, 255, 255, 0.2); /* garis halus */
  border-radius: 8px; /* sedikit melengkung */
  padding: 4px; /* jarak dalam */
  // background-color: rgba(255, 255, 255, 0.05); /* efek latar lembut */
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); /* bayangan lembut */
  transition: all 0.3s ease;
}

.sidebar-thumbnail:hover {
  transform: scale(1.03);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* ==========================
   Layout Stabilizer (Anti-CLS)
   ========================== */

.wrapper {
  transition: none !important;
}

.body {
  flex: 1 1 auto;
  min-height: calc(100vh - 120px); // 70 header + 40 breadcrumb + 10 buffer
  transition: none !important;
  display: flex;
  flex-direction: column;
}

.container-lg {
  transition: none !important;
  min-height: 100%;
  flex-grow: 1;
}

/* ==========================
   END Layout Stabilizer (Anti-CLS)
   ========================== */
